<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <form class="album-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" maxlength="255">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4" maxlength="1000"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">Cancel</button>
  <button mat-flat-button color="primary" type="button" (click)="save()">
    {{ data.confirmLabel }}
  </button>
</mat-dialog-actions>
