<div class="layout-shell">
  <zukan-navbar [showMenuToggle]="isMobile()" (menuToggle)="toggleSidenav()"></zukan-navbar>

  <mat-sidenav-container class="layout-container">
    <mat-sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="sidenavOpened()" class="layout-sidebar">
      <zukan-sidebar></zukan-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="layout-content">
        <ng-content></ng-content>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <zukan-upload-status-island></zukan-upload-status-island>
  <zukan-update-status-island></zukan-update-status-island>
</div>
